@import url('https://fonts.googleapis.com/css2?family=Anton&family=Black+Ops+One&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    box-sizing: border-box;
    background-image: url(img/FONDO.png);
    height: 100vh;
}

.titulo__encriptador__de__texto {

    color: rgb(129, 236, 213);
    font-size: 2rem;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    display: flex;
    padding: 10px 0;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.logo {
    margin-left: 10px;
    width: 120px;
    height: 60px;
}

.contenedor__interfaz__general {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
}

.contenedor__interfaz__encriptacion {
    width: 900px;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.contendor__encriptacion__entrada {
    width: 100%;
    height: auto;
}

textarea {
    box-sizing: border-box;
    background: radial-gradient(circle, rgb(60, 160, 218), rgb(18, 75, 136), rgb(0, 0, 0));
    color: white;
    width: 100%;
    height: 100%;
    min-height: 400px;
    padding: 3%;
    border-radius: 32px;
    font-size: 1.5rem;
    resize: none;
    margin-top: 4%;
}

#outputText {
    box-sizing: border-box;
    font-size: 1rem;
    height: auto;
    width: 100%;
    display: none;
}

.requerimiento {
    align-items: center;
    display: flex;
    margin-left: 20px;
    gap: 10px;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 7px;
    color: rgb(194, 194, 194);
}

.contenedor__interfaz__encriptacion__botones {
    justify-content: center;
    display: flex;
    gap: 15px;
    margin-top: 2%;
}

.button {
    background: radial-gradient(circle, rgba(250, 253, 85, 0.668), rgba(208, 104, 0, 0.668), rgba(72, 34, 1, 0.86));
    border-radius: 20px;
    width: 100%;
    height: auto;
    color: rgb(71, 28, 0);
    padding: 15px 80px;
    text-align: center;
    font-family: "Black Ops One", system-ui;
    font-size: 1.2rem;
    margin: 4px 2px;
    cursor: pointer;
}

#estiloBotonDesencriptar {
    background: radial-gradient(circle, rgba(255, 255, 243, 0.793), rgba(83, 82, 81, 0.7), rgba(4, 4, 4, 0.76));
}

.button:hover {
    background: radial-gradient(circle, rgba(250, 253, 85, 0.893), rgba(208, 104, 0, 0.882), rgb(72, 34, 1));
    color: rgb(39, 16, 0);
    cursor: pointer;
}

#estiloBotonDesencriptar:hover {
    background: radial-gradient(circle, rgba(255, 255, 243, 0.942), rgba(83, 82, 81, 0.915), rgba(4, 4, 4, 0.91));
    color: rgb(39, 16, 0);
}

.contenedor__interfaz__encriptacion__salida {
    width: 580px;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    align-items: center;
    gap: 25px;
    padding: 30px;
}

.imagen__salida {
    max-width: 60%;
    height: auto;
    object-fit: contain;
}

#mensajeNoEncontrado {
    font-size: 2rem;
    color: rgb(129, 236, 213);
    justify-content: center;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
}

#escribeTexto {
    font-size: 1.5rem;
    color: rgb(194, 194, 194);
    justify-content: center;
    font-weight: bold;
}

#copiar {
    display: none;
}

#borrar {
    display: none;
}
#outpuText {
    width: 100%;
    min-height: 300px;
    display: none;  /*Inicialmente oculto */
}
.footer {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 1rem;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-family: "Black Ops One", system-ui;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

/* Media Queries */

@media (max-width: 1440px) {

    .contenedor__interfaz__encriptacion {
        width: auto;
        height: auto;
        margin: 2%;
    }

    .contendor__encriptacion__entrada {
        width: 100%;
        height: auto;
    }

    .contenedor__interfaz__encriptacion__salida {
        width: 70%;
        height: auto;
        margin: 2%;
    }
}

@media (max-width: 1024px) {
    .contenedor__interfaz__general {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }

    .titulo__encriptador__de__texto {
        font-size: 1.7rem;
        padding: 8px 0;
    }

    .logo {
        margin-left: 5px;
        width: 15%;
        height: auto;
    }

    .button {
        padding: 10px 80px;
        font-size: 1.2rem;
    }

    textarea {
        min-height: 150px;
    }

    .imagen__salida {
        max-width: 65%;
    }

}

@media (max-width: 768px) {
    .contenedor__interfaz__general {
        width: 90%;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
        margin: 5%;
    }

    .titulo__encriptador__de__texto {
        font-size: 1rem;
    }

    .button {
        padding: 8px 60px;
        font-size: 1rem;
    }

    .imagen__salida {
        max-width: 60%;
    }

    .requerimiento {
        font-size: 1rem;
    }

    #escribeTexto {
        font-size: 1.2rem;

    }

    .footer {
        font-size: 0.8rem;
        flex-direction: column;
    }

}

@media (max-width: 480px) {
    .titulo__encriptador__de__texto {
        font-size: 1.2rem;
    }

    .button {
        padding: 4px 30px;
        font-size: 1rem;
    }

    .imagen__salida {
        max-width: 60%;
    }
}